---
---
<header>
    <h1>Belajar Bareng Cocoa!</h1>
    <div id="user-info" style="display: none;">
        Halo, <span id="username-display"></span>! 
        <button id="logout-btn">Logout</button>
    </div>
</header>
